ion-toolbar {
  --background: url(../../assets/img/galaxia07.png);
}
ion-content {
  --background: url(../../assets/img/galaxia07.png);
}
#icono {
  color: white;
}
ion-card{
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  --background:none;
  border: 2px solid #ff0534;
  box-shadow: 0 0 20px #ff0534;
  border-radius: 20px;
}
ion-card-title{
  color: white;
  margin-bottom: 20px;
  text-align: center;
}
ion-card-content{
  color: white;
  text-align: center;
}
ion-label{
  color: white;
  font-size: 9px;
  margin-left: 50px;
}
ion-img{
  box-shadow: 0 0 10px white;

}
ion-title{
  color:white;
}