<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" id="icono">
      <ion-back-button> Atras </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item id="inicial">
    <ion-icon name="options-outline"></ion-icon> 
    <ion-label>
      Filtro a
    </ion-label>
  </ion-item >
  <ion-item [routerLink]="['/primeros']" id="iniciales">
    <ion-icon name="extension-puzzle-outline"></ion-icon>
    <ion-label>
      Los 50 primeros
    </ion-label>
  </ion-item >
  <ion-item [routerLink]="['/ultimos']" id="finales">
    <ion-icon name="extension-puzzle-outline"></ion-icon>
    <ion-label>
      Los 50 ultimos
    </ion-label>
  </ion-item >
  <ion-item [routerLink]="['/todos']" id="todos">
    <ion-icon name="extension-puzzle-outline"></ion-icon>
    <ion-label>
      Todos
    </ion-label>
  </ion-item >

</ion-content>